.searchBar {
  display: flex;
  flex-direction: row;
}

.logo {
  background-repeat: no-repeat;
  background-position: -110px -100px;
  height: 24px;
  width: 24px;
  background-image: url('./img/02f3a40c9710.png');
}

.divider {
  background-color: #262626;
  height: 28px;
  margin: 0 16px;
  width: 1px;
}

.companyName {
  background-repeat: no-repeat;
  background-position: -136px 0;
  height: 29px;
  width: 103px;
  background-image: url('./img/02f3a40c9710.png');
}

.searchBox {
  background: #fafafa;
  border: solid 1px #dbdbdb;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  
  border-radius: 3px;
  color: #999;
  cursor: text;
  font-size: 14px;
  font-weight: 300;
  padding: 7px;
  text-align: center;
}

.exploreBtn {
  background-repeat: no-repeat;
  background-position: -241px -52px;
  height: 24px;
  width: 24px;
  background-image: url('./img/02f3a40c9710.png');
}

.activityBtn {
  background-repeat: no-repeat;
  background-position: -130px -158px;
  height: 24px;
  width: 24px;
  background-image: url('./img/02f3a40c9710.png');
}

.profileBtn {
  background-position: 0 -158px;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-image: url('./img/02f3a40c9710.png');
}