.searchBar {
  width: 100%;
  height: 77px;
  border: 1px solid #E6E6E6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}


.searchBarContent {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  max-width: 970px;
  width: 100%;
  padding: 26px 20px;
  -webkit-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.logoSection {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background-repeat: no-repeat;
  background-position: -110px -100px;
  height: 24px;
  width: 24px;
  background-image: url('../../img/02f3a40c9710.png');
}

.divider {
  background-color: #262626;
  height: 28px;
  margin: 0 16px;
  width: 1px;
}

.companyName {
  background-repeat: no-repeat;
  background-position: -136px 0;
  height: 29px;
  width: 103px;
  background-image: url('../../img/02f3a40c9710.png');
  margin-top: 7px;
}

.searchBox {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchInput {
  font-size: 16px;
  -webkit-appearance: none;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626;
  outline: 0;
  padding: 3px 10px 3px 10px;
  z-index: 2;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #FAFAFA;
}

.searchInput::placeholder {
  color: #999999;
}

.exploreBtn {
  background-repeat: no-repeat;
  background-position: -241px -52px;
  height: 24px;
  width: 24px;
  background-image: url('../../img/02f3a40c9710.png');
}

.activityBtn {
  background-repeat: no-repeat;
  background-position: -130px -158px;
  height: 24px;
  width: 24px;
  background-image: url('../../img/02f3a40c9710.png');
  margin-left:30px;
}

.profileBtn {
  background-position: 0 -158px;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-image: url('../../img/02f3a40c9710.png');
  margin-left:30px;
  cursor: pointer;
}

.logoSection, .menu {
  display: flex;
  flex-direction: row;
}

.clearSearchBtn {
  all: unset;
  background-position: -203px -399px;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-image: url('../../img/f01fcb405c10.png');
}

.noSearchEntered .clearSearchBtn {
  display: none;
}

.noSearchEntered.searchBox {
  margin-right: 17px;
}