
.login {
  width: 350px;
  padding-top: 10px;
  border: 1px solid #e6e6e6;
  background: white;
  margin-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login .logo {
  margin: 22px auto 12px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: -98px -150px;
  height: 51px;
  width: 175px;
  background-image: url('../../img/f01fcb405c10.png');
}

.login input {
  border: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0px;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  background: #fafafa;
  border: 1px solid #efefef;
  margin-bottom: 6px;
}

.loginBtn {
  margin-top: 8px;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  position: relative;
  -webkit-appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: auto;
}